OPENAI_API_KEY=
OPENAI_API_URL=https://api.openai.com/v1/chat/completions
OPENAI_EMBEDDING_URL=https://api.openai.com/v1/embeddings
FRONTEND_ORIGIN=http://localhost:5173
REACT_APP_API_URL=http://localhost:8080/chat
PORT=8080
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net
MONGO_DB=resume_chatbot
MONGO_COLLECTION=messages